WebSite1/App_WebReferences/NewJobService/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://umdbms.no-ip.info/UMNewJobWebsite/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UMNewJobWebsite.DomainDTO" />
  <xs:import schemaLocation="http://umdbms.no-ip.info/UMNewJobWebsite/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://umdbms.no-ip.info/UMNewJobWebsite/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="selectAllCategory">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAllCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UMNewJobWebsite.DomainDTO" minOccurs="0" name="selectAllCategoryResult" nillable="true" type="q1:ArrayOfCategoryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectCategoryById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UMNewJobWebsite.DomainDTO" minOccurs="0" name="obj" nillable="true" type="q2:CategoryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectCategoryByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UMNewJobWebsite.DomainDTO" minOccurs="0" name="selectCategoryByIdResult" nillable="true" type="q3:CategoryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/UMNewJobWebsite.DomainDTO" minOccurs="0" name="obj" nillable="true" type="q4:CategoryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertCategoryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/UMNewJobWebsite.DomainDTO" minOccurs="0" name="obj" nillable="true" type="q5:CategoryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateCategoryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/UMNewJobWebsite.DomainDTO" minOccurs="0" name="obj" nillable="true" type="q6:CategoryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteCategoryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAllCompensation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAllCompensationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/UMNewJobWebsite.DomainDTO" minOccurs="0" name="selectAllCompensationResult" nillable="true" type="q7:ArrayOfCompensationDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectCompensationById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/UMNewJobWebsite.DomainDTO" minOccurs="0" name="obj" nillable="true" type="q8:CompensationDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectCompensationByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/UMNewJobWebsite.DomainDTO" minOccurs="0" name="selectCompensationByIdResult" nillable="true" type="q9:CompensationDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertCompensation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/UMNewJobWebsite.DomainDTO" minOccurs="0" name="obj" nillable="true" type="q10:CompensationDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertCompensationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertCompensationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCompensation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/UMNewJobWebsite.DomainDTO" minOccurs="0" name="obj" nillable="true" type="q11:CompensationDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCompensationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateCompensationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCompensation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/UMNewJobWebsite.DomainDTO" minOccurs="0" name="obj" nillable="true" type="q12:CompensationDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCompensationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteCompensationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAllEmployer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAllEmployerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/UMNewJobWebsite.DomainDTO" minOccurs="0" name="selectAllEmployerResult" nillable="true" type="q13:ArrayOfEmployerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectEmployerById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/UMNewJobWebsite.DomainDTO" minOccurs="0" name="obj" nillable="true" type="q14:EmployerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectEmployerByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/UMNewJobWebsite.DomainDTO" minOccurs="0" name="selectEmployerByIdResult" nillable="true" type="q15:EmployerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertEmployer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/UMNewJobWebsite.DomainDTO" minOccurs="0" name="obj" nillable="true" type="q16:EmployerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertEmployerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertEmployerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateEmployer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/UMNewJobWebsite.DomainDTO" minOccurs="0" name="obj" nillable="true" type="q17:EmployerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateEmployerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateEmployerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteEmployer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/UMNewJobWebsite.DomainDTO" minOccurs="0" name="obj" nillable="true" type="q18:EmployerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteEmployerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteEmployerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAllJob">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAllJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/UMNewJobWebsite.DomainDTO" minOccurs="0" name="selectAllJobResult" nillable="true" type="q19:ArrayOfJobDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectJobNotDoneByRecruiteeIdRecommendation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recruiteeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectJobNotDoneByRecruiteeIdRecommendationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/UMNewJobWebsite.DomainDTO" minOccurs="0" name="selectJobNotDoneByRecruiteeIdRecommendationResult" nillable="true" type="q20:ArrayOfJobDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectJobNotDoneByRecruiteeId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recruiteeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectJobNotDoneByRecruiteeIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/UMNewJobWebsite.DomainDTO" minOccurs="0" name="selectJobNotDoneByRecruiteeIdResult" nillable="true" type="q21:ArrayOfJobDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectJobById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/UMNewJobWebsite.DomainDTO" minOccurs="0" name="obj" nillable="true" type="q22:JobDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectJobByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/UMNewJobWebsite.DomainDTO" minOccurs="0" name="selectJobByIdResult" nillable="true" type="q23:JobDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/UMNewJobWebsite.DomainDTO" minOccurs="0" name="obj" nillable="true" type="q24:JobDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertJobResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/UMNewJobWebsite.DomainDTO" minOccurs="0" name="obj" nillable="true" type="q25:JobDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateJobResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/UMNewJobWebsite.DomainDTO" minOccurs="0" name="obj" nillable="true" type="q26:JobDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteJobResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createJobDTO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="JobId" type="q27:guid" />
        <xs:element minOccurs="0" name="JobName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompensationId" nillable="true" type="xs:string" />
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="EmployerId" type="q28:guid" />
        <xs:element minOccurs="0" name="JobDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JobQuota" type="xs:int" />
        <xs:element minOccurs="0" name="JobExperienceLevel" type="xs:double" />
        <xs:element minOccurs="0" name="JobCompensationValue" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createJobDTOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/UMNewJobWebsite.DomainDTO" minOccurs="0" name="createJobDTOResult" nillable="true" type="q29:JobDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSkillToJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="JobId" type="q30:guid" />
        <xs:element minOccurs="0" name="SkillId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSkillToJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addSkillToJobResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeSkillFromJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="JobId" type="q31:guid" />
        <xs:element minOccurs="0" name="SkillId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeSkillFromJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeSkillFromJobResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectJobBySkillId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="skillId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectJobBySkillIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/UMNewJobWebsite.DomainDTO" minOccurs="0" name="selectJobBySkillIdResult" nillable="true" type="q32:ArrayOfJobDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectExpressionNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectExpressionNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="selectExpressionNamesResult" nillable="true" type="q33:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectExpressionDifficulty">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectExpressionDifficultyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="selectExpressionDifficultyResult" nillable="true" type="q34:ArrayOfdouble" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAllSkill">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAllSkillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/UMNewJobWebsite.DomainDTO" minOccurs="0" name="selectAllSkillResult" nillable="true" type="q35:ArrayOfSkillDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectSkillById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/UMNewJobWebsite.DomainDTO" minOccurs="0" name="obj" nillable="true" type="q36:SkillDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectSkillByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/UMNewJobWebsite.DomainDTO" minOccurs="0" name="selectSkillByIdResult" nillable="true" type="q37:SkillDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertSkill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/UMNewJobWebsite.DomainDTO" minOccurs="0" name="obj" nillable="true" type="q38:SkillDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertSkillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertSkillResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateSkill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/UMNewJobWebsite.DomainDTO" minOccurs="0" name="obj" nillable="true" type="q39:SkillDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateSkillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateSkillResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteSkill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/UMNewJobWebsite.DomainDTO" minOccurs="0" name="obj" nillable="true" type="q40:SkillDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteSkillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteSkillResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>