WebSite1/App_WebReferences/NewElasticServiceMobile/ServiceMobile1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://umdbms.no-ip.info/UMNewElasticWebsite/ServiceMobile.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfTaskRatingDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaskRatingDTO" nillable="true" type="tns:TaskRatingDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTaskRatingDTO" nillable="true" type="tns:ArrayOfTaskRatingDTO" />
  <xs:complexType name="TaskRatingDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="JobId" type="ser:guid" />
      <xs:element minOccurs="0" name="Rating" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="RecruiteeId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskRatingDTO" nillable="true" type="tns:TaskRatingDTO" />
</xs:schema>