UMNewElasticWebsite/App_WebReferences/NewRecruiteeService/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/UMNewRecruiteeWebsite.DomainDTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UMNewRecruiteeWebsite.DomainDTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://umdbms.no-ip.info/UMNewRecruiteeWebsite/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfCategoryDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoryDto" nillable="true" type="tns:CategoryDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoryDto" nillable="true" type="tns:ArrayOfCategoryDto" />
  <xs:complexType name="CategoryDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoryId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryDto" nillable="true" type="tns:CategoryDto" />
  <xs:complexType name="ArrayOfRankingDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RankingDto" nillable="true" type="tns:RankingDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRankingDto" nillable="true" type="tns:ArrayOfRankingDto" />
  <xs:complexType name="RankingDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="RankingId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RankingName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RankingDto" nillable="true" type="tns:RankingDto" />
  <xs:complexType name="ArrayOfRecruiteeDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RecruiteeDto" nillable="true" type="tns:RecruiteeDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecruiteeDto" nillable="true" type="tns:ArrayOfRecruiteeDto" />
  <xs:complexType name="RecruiteeDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EducationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncomeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RankingId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RankingValue" type="xs:double" />
      <xs:element minOccurs="0" name="RecruiteeId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecruiteeDto" nillable="true" type="tns:RecruiteeDto" />
  <xs:complexType name="ArrayOfSkillDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SkillDto" nillable="true" type="tns:SkillDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSkillDto" nillable="true" type="tns:ArrayOfSkillDto" />
  <xs:complexType name="SkillDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="SkillDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SkillId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SkillName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SkillDto" nillable="true" type="tns:SkillDto" />
  <xs:complexType name="ArrayOfAgeDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AgeDto" nillable="true" type="tns:AgeDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAgeDto" nillable="true" type="tns:ArrayOfAgeDto" />
  <xs:complexType name="AgeDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AgeId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AgeDto" nillable="true" type="tns:AgeDto" />
  <xs:complexType name="ArrayOfEducationDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EducationDto" nillable="true" type="tns:EducationDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEducationDto" nillable="true" type="tns:ArrayOfEducationDto" />
  <xs:complexType name="EducationDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="EducationDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EducationId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EducationDto" nillable="true" type="tns:EducationDto" />
  <xs:complexType name="ArrayOfIncomeDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IncomeDto" nillable="true" type="tns:IncomeDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIncomeDto" nillable="true" type="tns:ArrayOfIncomeDto" />
  <xs:complexType name="IncomeDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="IncomeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncomeId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IncomeDto" nillable="true" type="tns:IncomeDto" />
  <xs:complexType name="ArrayOfRecruiteeSkillDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RecruiteeSkillDto" nillable="true" type="tns:RecruiteeSkillDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecruiteeSkillDto" nillable="true" type="tns:ArrayOfRecruiteeSkillDto" />
  <xs:complexType name="RecruiteeSkillDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="RecruiteeId" type="ser:guid" />
      <xs:element minOccurs="0" name="SkillId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecruiteeSkillDto" nillable="true" type="tns:RecruiteeSkillDto" />
</xs:schema>