UMNewElasticWebsite/App_WebReferences/NewRecruiteeService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://umdbms.no-ip.info/UMNewRecruiteeWebsite/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://umdbms.no-ip.info/UMNewRecruiteeWebsite/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://umdbms.no-ip.info/UMNewRecruiteeWebsite/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UMNewRecruiteeWebsite.DomainDTO" />
      <xsd:import schemaLocation="http://umdbms.no-ip.info/UMNewRecruiteeWebsite/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceWCF_selectAllCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:selectAllCategory" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_selectAllCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectAllCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_selectCategoryById_InputMessage">
    <wsdl:part name="parameters" element="tns:selectCategoryById" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_selectCategoryById_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectCategoryByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_insertCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:insertCategory" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_insertCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_updateCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:updateCategory" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_updateCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_deleteCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteCategory" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_deleteCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_selectAllRanking_InputMessage">
    <wsdl:part name="parameters" element="tns:selectAllRanking" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_selectAllRanking_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectAllRankingResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_selectRankingById_InputMessage">
    <wsdl:part name="parameters" element="tns:selectRankingById" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_selectRankingById_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectRankingByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_insertRanking_InputMessage">
    <wsdl:part name="parameters" element="tns:insertRanking" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_insertRanking_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertRankingResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_updateRanking_InputMessage">
    <wsdl:part name="parameters" element="tns:updateRanking" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_updateRanking_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateRankingResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_deleteRanking_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteRanking" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_deleteRanking_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteRankingResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_createRankingDTO_InputMessage">
    <wsdl:part name="parameters" element="tns:createRankingDTO" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_createRankingDTO_OutputMessage">
    <wsdl:part name="parameters" element="tns:createRankingDTOResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_selectAllRecruitee_InputMessage">
    <wsdl:part name="parameters" element="tns:selectAllRecruitee" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_selectAllRecruitee_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectAllRecruiteeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_selectRecruiteeById_InputMessage">
    <wsdl:part name="parameters" element="tns:selectRecruiteeById" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_selectRecruiteeById_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectRecruiteeByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_selectRecruiteeByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:selectRecruiteeByEmail" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_selectRecruiteeByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectRecruiteeByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_selectRecruiteeBySkillId_InputMessage">
    <wsdl:part name="parameters" element="tns:selectRecruiteeBySkillId" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_selectRecruiteeBySkillId_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectRecruiteeBySkillIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_insertRecruitee_InputMessage">
    <wsdl:part name="parameters" element="tns:insertRecruitee" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_insertRecruitee_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertRecruiteeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_updateRecruitee_InputMessage">
    <wsdl:part name="parameters" element="tns:updateRecruitee" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_updateRecruitee_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateRecruiteeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_deleteRecruitee_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteRecruitee" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_deleteRecruitee_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteRecruiteeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_createRecruiteeDTO_InputMessage">
    <wsdl:part name="parameters" element="tns:createRecruiteeDTO" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_createRecruiteeDTO_OutputMessage">
    <wsdl:part name="parameters" element="tns:createRecruiteeDTOResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_addSkillToRecruitee_InputMessage">
    <wsdl:part name="parameters" element="tns:addSkillToRecruitee" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_addSkillToRecruitee_OutputMessage">
    <wsdl:part name="parameters" element="tns:addSkillToRecruiteeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_removeSkillFromRecruitee_InputMessage">
    <wsdl:part name="parameters" element="tns:removeSkillFromRecruitee" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_removeSkillFromRecruitee_OutputMessage">
    <wsdl:part name="parameters" element="tns:removeSkillFromRecruiteeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_selectRecruiteeNames_InputMessage">
    <wsdl:part name="parameters" element="tns:selectRecruiteeNames" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_selectRecruiteeNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectRecruiteeNamesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_selectAllSkill_InputMessage">
    <wsdl:part name="parameters" element="tns:selectAllSkill" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_selectAllSkill_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectAllSkillResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_selectSkillById_InputMessage">
    <wsdl:part name="parameters" element="tns:selectSkillById" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_selectSkillById_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectSkillByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_insertSkill_InputMessage">
    <wsdl:part name="parameters" element="tns:insertSkill" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_insertSkill_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertSkillResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_updateSkill_InputMessage">
    <wsdl:part name="parameters" element="tns:updateSkill" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_updateSkill_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateSkillResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_deleteSkill_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteSkill" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_deleteSkill_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteSkillResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_selectAllAge_InputMessage">
    <wsdl:part name="parameters" element="tns:selectAllAge" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_selectAllAge_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectAllAgeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_selectAgeById_InputMessage">
    <wsdl:part name="parameters" element="tns:selectAgeById" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_selectAgeById_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectAgeByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_insertAge_InputMessage">
    <wsdl:part name="parameters" element="tns:insertAge" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_insertAge_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertAgeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_updateAge_InputMessage">
    <wsdl:part name="parameters" element="tns:updateAge" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_updateAge_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateAgeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_deleteAge_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteAge" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_deleteAge_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteAgeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_selectAllEducation_InputMessage">
    <wsdl:part name="parameters" element="tns:selectAllEducation" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_selectAllEducation_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectAllEducationResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_selectEducationById_InputMessage">
    <wsdl:part name="parameters" element="tns:selectEducationById" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_selectEducationById_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectEducationByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_insertEducation_InputMessage">
    <wsdl:part name="parameters" element="tns:insertEducation" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_insertEducation_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertEducationResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_updateEducation_InputMessage">
    <wsdl:part name="parameters" element="tns:updateEducation" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_updateEducation_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateEducationResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_deleteEducation_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteEducation" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_deleteEducation_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteEducationResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_selectAllIncome_InputMessage">
    <wsdl:part name="parameters" element="tns:selectAllIncome" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_selectAllIncome_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectAllIncomeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_selectIncomeById_InputMessage">
    <wsdl:part name="parameters" element="tns:selectIncomeById" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_selectIncomeById_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectIncomeByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_insertIncome_InputMessage">
    <wsdl:part name="parameters" element="tns:insertIncome" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_insertIncome_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertIncomeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_updateIncome_InputMessage">
    <wsdl:part name="parameters" element="tns:updateIncome" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_updateIncome_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateIncomeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_deleteIncome_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteIncome" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_deleteIncome_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteIncomeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_selectAllRecruiteeSkill_InputMessage">
    <wsdl:part name="parameters" element="tns:selectAllRecruiteeSkill" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_selectAllRecruiteeSkill_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectAllRecruiteeSkillResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceWCF">
    <wsdl:operation name="selectAllCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/selectAllCategory" message="tns:IServiceWCF_selectAllCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/selectAllCategoryResponse" message="tns:IServiceWCF_selectAllCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectCategoryById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/selectCategoryById" message="tns:IServiceWCF_selectCategoryById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/selectCategoryByIdResponse" message="tns:IServiceWCF_selectCategoryById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/insertCategory" message="tns:IServiceWCF_insertCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/insertCategoryResponse" message="tns:IServiceWCF_insertCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/updateCategory" message="tns:IServiceWCF_updateCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/updateCategoryResponse" message="tns:IServiceWCF_updateCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/deleteCategory" message="tns:IServiceWCF_deleteCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/deleteCategoryResponse" message="tns:IServiceWCF_deleteCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectAllRanking">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/selectAllRanking" message="tns:IServiceWCF_selectAllRanking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/selectAllRankingResponse" message="tns:IServiceWCF_selectAllRanking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectRankingById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/selectRankingById" message="tns:IServiceWCF_selectRankingById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/selectRankingByIdResponse" message="tns:IServiceWCF_selectRankingById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertRanking">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/insertRanking" message="tns:IServiceWCF_insertRanking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/insertRankingResponse" message="tns:IServiceWCF_insertRanking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateRanking">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/updateRanking" message="tns:IServiceWCF_updateRanking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/updateRankingResponse" message="tns:IServiceWCF_updateRanking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteRanking">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/deleteRanking" message="tns:IServiceWCF_deleteRanking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/deleteRankingResponse" message="tns:IServiceWCF_deleteRanking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createRankingDTO">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/createRankingDTO" message="tns:IServiceWCF_createRankingDTO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/createRankingDTOResponse" message="tns:IServiceWCF_createRankingDTO_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectAllRecruitee">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/selectAllRecruitee" message="tns:IServiceWCF_selectAllRecruitee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/selectAllRecruiteeResponse" message="tns:IServiceWCF_selectAllRecruitee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectRecruiteeById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/selectRecruiteeById" message="tns:IServiceWCF_selectRecruiteeById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/selectRecruiteeByIdResponse" message="tns:IServiceWCF_selectRecruiteeById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectRecruiteeByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/selectRecruiteeByEmail" message="tns:IServiceWCF_selectRecruiteeByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/selectRecruiteeByEmailResponse" message="tns:IServiceWCF_selectRecruiteeByEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectRecruiteeBySkillId">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/selectRecruiteeBySkillId" message="tns:IServiceWCF_selectRecruiteeBySkillId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/selectRecruiteeBySkillIdResponse" message="tns:IServiceWCF_selectRecruiteeBySkillId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertRecruitee">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/insertRecruitee" message="tns:IServiceWCF_insertRecruitee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/insertRecruiteeResponse" message="tns:IServiceWCF_insertRecruitee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateRecruitee">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/updateRecruitee" message="tns:IServiceWCF_updateRecruitee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/updateRecruiteeResponse" message="tns:IServiceWCF_updateRecruitee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteRecruitee">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/deleteRecruitee" message="tns:IServiceWCF_deleteRecruitee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/deleteRecruiteeResponse" message="tns:IServiceWCF_deleteRecruitee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createRecruiteeDTO">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/createRecruiteeDTO" message="tns:IServiceWCF_createRecruiteeDTO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/createRecruiteeDTOResponse" message="tns:IServiceWCF_createRecruiteeDTO_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addSkillToRecruitee">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/addSkillToRecruitee" message="tns:IServiceWCF_addSkillToRecruitee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/addSkillToRecruiteeResponse" message="tns:IServiceWCF_addSkillToRecruitee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="removeSkillFromRecruitee">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/removeSkillFromRecruitee" message="tns:IServiceWCF_removeSkillFromRecruitee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/removeSkillFromRecruiteeResponse" message="tns:IServiceWCF_removeSkillFromRecruitee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectRecruiteeNames">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/selectRecruiteeNames" message="tns:IServiceWCF_selectRecruiteeNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/selectRecruiteeNamesResponse" message="tns:IServiceWCF_selectRecruiteeNames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectAllSkill">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/selectAllSkill" message="tns:IServiceWCF_selectAllSkill_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/selectAllSkillResponse" message="tns:IServiceWCF_selectAllSkill_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectSkillById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/selectSkillById" message="tns:IServiceWCF_selectSkillById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/selectSkillByIdResponse" message="tns:IServiceWCF_selectSkillById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertSkill">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/insertSkill" message="tns:IServiceWCF_insertSkill_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/insertSkillResponse" message="tns:IServiceWCF_insertSkill_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateSkill">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/updateSkill" message="tns:IServiceWCF_updateSkill_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/updateSkillResponse" message="tns:IServiceWCF_updateSkill_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteSkill">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/deleteSkill" message="tns:IServiceWCF_deleteSkill_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/deleteSkillResponse" message="tns:IServiceWCF_deleteSkill_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectAllAge">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/selectAllAge" message="tns:IServiceWCF_selectAllAge_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/selectAllAgeResponse" message="tns:IServiceWCF_selectAllAge_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectAgeById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/selectAgeById" message="tns:IServiceWCF_selectAgeById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/selectAgeByIdResponse" message="tns:IServiceWCF_selectAgeById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertAge">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/insertAge" message="tns:IServiceWCF_insertAge_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/insertAgeResponse" message="tns:IServiceWCF_insertAge_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateAge">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/updateAge" message="tns:IServiceWCF_updateAge_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/updateAgeResponse" message="tns:IServiceWCF_updateAge_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteAge">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/deleteAge" message="tns:IServiceWCF_deleteAge_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/deleteAgeResponse" message="tns:IServiceWCF_deleteAge_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectAllEducation">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/selectAllEducation" message="tns:IServiceWCF_selectAllEducation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/selectAllEducationResponse" message="tns:IServiceWCF_selectAllEducation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectEducationById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/selectEducationById" message="tns:IServiceWCF_selectEducationById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/selectEducationByIdResponse" message="tns:IServiceWCF_selectEducationById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertEducation">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/insertEducation" message="tns:IServiceWCF_insertEducation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/insertEducationResponse" message="tns:IServiceWCF_insertEducation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateEducation">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/updateEducation" message="tns:IServiceWCF_updateEducation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/updateEducationResponse" message="tns:IServiceWCF_updateEducation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteEducation">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/deleteEducation" message="tns:IServiceWCF_deleteEducation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/deleteEducationResponse" message="tns:IServiceWCF_deleteEducation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectAllIncome">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/selectAllIncome" message="tns:IServiceWCF_selectAllIncome_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/selectAllIncomeResponse" message="tns:IServiceWCF_selectAllIncome_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectIncomeById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/selectIncomeById" message="tns:IServiceWCF_selectIncomeById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/selectIncomeByIdResponse" message="tns:IServiceWCF_selectIncomeById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertIncome">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/insertIncome" message="tns:IServiceWCF_insertIncome_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/insertIncomeResponse" message="tns:IServiceWCF_insertIncome_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateIncome">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/updateIncome" message="tns:IServiceWCF_updateIncome_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/updateIncomeResponse" message="tns:IServiceWCF_updateIncome_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteIncome">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/deleteIncome" message="tns:IServiceWCF_deleteIncome_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/deleteIncomeResponse" message="tns:IServiceWCF_deleteIncome_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectAllRecruiteeSkill">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/selectAllRecruiteeSkill" message="tns:IServiceWCF_selectAllRecruiteeSkill_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/selectAllRecruiteeSkillResponse" message="tns:IServiceWCF_selectAllRecruiteeSkill_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceWCF" type="tns:IServiceWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="selectAllCategory">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/selectAllCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectCategoryById">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/selectCategoryById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertCategory">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/insertCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCategory">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/updateCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteCategory">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/deleteCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectAllRanking">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/selectAllRanking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectRankingById">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/selectRankingById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertRanking">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/insertRanking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateRanking">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/updateRanking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteRanking">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/deleteRanking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createRankingDTO">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/createRankingDTO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectAllRecruitee">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/selectAllRecruitee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectRecruiteeById">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/selectRecruiteeById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectRecruiteeByEmail">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/selectRecruiteeByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectRecruiteeBySkillId">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/selectRecruiteeBySkillId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertRecruitee">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/insertRecruitee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateRecruitee">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/updateRecruitee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteRecruitee">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/deleteRecruitee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createRecruiteeDTO">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/createRecruiteeDTO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addSkillToRecruitee">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/addSkillToRecruitee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeSkillFromRecruitee">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/removeSkillFromRecruitee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectRecruiteeNames">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/selectRecruiteeNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectAllSkill">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/selectAllSkill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectSkillById">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/selectSkillById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertSkill">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/insertSkill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSkill">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/updateSkill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteSkill">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/deleteSkill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectAllAge">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/selectAllAge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectAgeById">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/selectAgeById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertAge">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/insertAge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateAge">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/updateAge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAge">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/deleteAge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectAllEducation">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/selectAllEducation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectEducationById">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/selectEducationById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertEducation">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/insertEducation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateEducation">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/updateEducation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteEducation">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/deleteEducation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectAllIncome">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/selectAllIncome" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectIncomeById">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/selectIncomeById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertIncome">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/insertIncome" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateIncome">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/updateIncome" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteIncome">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/deleteIncome" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectAllRecruiteeSkill">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/selectAllRecruiteeSkill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IServiceWCF" binding="tns:BasicHttpBinding_IServiceWCF">
      <soap:address location="http://umdbms.no-ip.info/UMNewRecruiteeWebsite/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>